<div>
  <p><em>
    Go to <a href="https://mangadex.org/title/8274/senyuu">Senyuu</a> on Mangadex for the full series and a better reader. 
    This is an alternative solution for when Mangadex is down and for those who cannot access Mangadex without a VPN.  
    No content is actually hosted on this site: this is simply a viewer for content hosted elsewhere.
  </em></p>
  <p><em>
    <strong>Please do not upload these chapters onto any for-profit manga aggregation sites.</strong> 
    But if Mangadex shuts down, feel free to upload to a new Batoto/Mangadex replacement.
  </em></p>
</div>