$backgroundColor: #36393f;
$accentColor: #c3cad4;
$fontColor: white;

body {
  background: $backgroundColor;
  color: $fontColor;
  font-family: 'Open Sans', sans-serif;
  margin: 25px;
}

main {
  margin: 0 25px;
}

header {
  text-align: center;
  margin: 25px;

  > div, > p {
    text-align: left;
  }

  > a > img {
    margin: 25px 0;
    width: 100%;
    max-width: 900px;
  }

  > h1 > a {
    text-decoration: none;

    &:hover {
      opacity: 80%;
    }
  }
}

h1, h2, h3, ul, section {
  margin: 0px;
}

h2 {
  margin-top: 30px;
}

a, .nav span {
  color: $fontColor;
}

em, h1 > span, li > a {
  color: $accentColor;
}

h3 {
  margin-top: 10px;
}

.alert {
  margin: 25px;
  padding: 10px;
  color: $fontColor;
  border: 1px solid $fontColor;
  border-radius: 10px;
  text-align: left;
  display: flex;

  &.flat {
    display: block;
  }

  a {
    color: $accentColor;
  }

  h2 {
    margin-top: 0;
  }

  img {
    width: 60px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }

  p {
    font-size: 0.9em;
    margin: 0;
  }
}

#index {
  margin: 10px;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    &:nth-of-type(even) {
      background: #272727;
      border-radius: 10px;
    }

    &:nth-of-type(even) > a {
      color: #93b4c3;
    }

    > span.right {
      display: flex;
      flex-direction: row;
      text-align: right;
      font-size: 0.75em;
      flex-wrap: wrap;
      justify-content: flex-end;

      a {
        margin: 5px;

        &:first-of-type {
          border-right: 1px solid white;
          padding-right: 10px;
        }
      }
    }

    > .filler {
      flex-grow: 1;
    }
  }
}

.center {
  text-align: center;
}

.volume-nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  > a {
    text-decoration: none;
    border-radius: 5px;
    background: #63818c;
    padding: 0.2em 0.4em;
    border: 1px solid black;

    &:nth-of-type(2) {
      margin: 0 0.5em;
    }

    &:hover {
      background: #252525;
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    margin: 0px 0px 40px 0px;
  }

  main {
    margin: 0 10px;
  }
}