<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">  
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% if page.path contains "reader" %}
      <link rel="stylesheet" href="{{ "/assets/css/reader.css" | relative_url }}">
      <script type="text/javascript" src="{{ "/assets/js/require.js" | relative_url }}"></script>
      <script type="text/javascript" src="{{ "/assets/js/reader.js" | relative_url }}"></script>
      <script>
        initialize(
          '{{ page.rawURL }}', 
          {{ site.data[page.volumeName] | jsonify }},
          '{{ page.volumeNumber }}',
          '{{ page.prevVolume }}', 
          '{{ page.nextVolume }}'
        );
      </script>
    {% endif %}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-98897990-2');
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
         if (location.hash) {
            let target = location.hash;
            let top = document.querySelector(target).offsetTop;
            console.info(top);
            window.scrollTo({ top })
         }
      });
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
